# eclipse-ide
/.cache
/.settings
/.project

# old-svn-files
/.svn
/components/leaves/.svn
/components/.svn
/components/bubbles/.svn
/components/button/.svn
/components/calendar/.svn
/components/catcount/.svn
/components/category/.svn
/components/comment/.svn
/components/contactform/.svn
/components/dragimage/.svn
/components/flashclock/.svn
/components/getnews/.svn
/components/hitcounter/.svn
/components/kiss/.svn
/components/login/.svn
/components/mp3player/.svn
/components/photogallery/.svn
/components/randimage/.svn
/components/randomarticle/.svn
/components/rating/.svn
/components/rating/images/.svn
/components/rss/.svn
/components/search/.svn
/components/searchbox/.svn
/components/shakeimage/.svn
/components/snow/.svn
/components/submitform/.svn
/components/test/.svn
/components/treemenu/.svn
/components/warper/.svn
/data/.svn
/data/backup/.svn
/data/indexes/.svn
/data/pages/.svn
/data/system/.svn
/data/temp/.svn
/data/uploads/.svn
/data/uploads/thumbs/.svn
/docs/.svn
/includes/.svn
/languages/.svn
/setup/.svn
/setup/includes/.svn
/setup/modules/.svn
/setup/modules/groups/.svn
/setup/modules/templates/.svn
/setup/modules/users/.svn
/setup/template/.svn
/setup/template/images/.svn
/setup/template/images/toolbar/.svn
/templates/.svn
/templates/ashitaka/.svn
/templates/ashitaka/images/.svn
/templates/default/.svn
/templates/default/images/.svn
/templates/print/.svn