body {
	background-color:#FFFFFF;
	}

a:link,a:visited {
	color: #000000;
	text-decoration: none;
	}

a:hover {
	color: #000000;
	text-decoration: none;
	}

code {
	display: block;
	text-indent: 0px;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px dashed #000000;
	color: #303030;
}

table#image {
	text-align: justify;
	font-family: tahoma;
	font-size: 12px;
	color: #000000;
	width: 50px;
}

textarea {
	font-family: tahoma;
	font-size: 12px;
	width : 92%;
}

input {
	font-family: tahoma;
	font-size: 12px;
}

select {
	font-family: tahoma;
	font-size: 12px;
	width: 124px;
}

h1 {
	text-align:none;
	font-family: tahoma;
	font-size: 15px;
	color: #000000;
	padding-left: 30px;
	padding-right: 30px;
}

hr {
	color: #000000;
}

li.page {
	font-size:13px;
	font-weight: bold;
	color:000000;
}

p {
	text-align: justify;
}

div#page {
	text-align: justify;
	text-indent: 25px;
	text-align:right;
	font-family: tahoma;
	font-size: 14px;
	color: #000000;
}

p.footer {
	text-align: center;
	font-family: tahoma;
	font-size: 10px;
	color: #000000;
}

table#mainbody {
	border-collapse: collapse;
	width: 90%;
}

.bodytop {	
	background:none;
	height: 60px;
}

.bodymiddle {	
	background:none;
}

.bodybottom {	
	background:none;
	height: 40px;
}

.dialogtop {	
	background:none;
	height: 60px;	
}

.dialogbottom {	
	background:none;
	height: 20px;	
}